.Container{
position: absolute;
height: 66.27%;
overflow-x:scroll;
overflow-y:scroll;
right: 252px;
left: 252px;
top: 142px;

}

.Container::-webkit-scrollbar{
    display: none;
}




.Heading{
    font-size: 25px;
    color: white;
    position: absolute;
    font-family:sans-serif;
    font-style: normal;
    font-weight:bold;
    left: 285px;
    top: 92px;
    
       
}
.pop{
    font-size: 18px;
    color: white; 
    position: absolute;
    top: 0px;
    font-family:sans-serif;
    font-style: normal;
    font-weight:bold;
    left: 35px;

}

.hh{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 232px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    left: 35px;

}

.rock{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 468px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    left: 35px;


}
.pr{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 692px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    left: 35px;

}

.ed{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 925px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    left: 35px;

}


.cards{
     display: flex;
     flex-direction: column;
     row-gap: 17px;
     margin-left: 35px;
     margin-top: 3px;
    
}


.cards1 {
    display: flex;
    flex-direction: row;
    column-gap: 47px;
    align-items: center;
     
  }

  .cards2 {
    display: flex;
    flex-direction: row;
    column-gap: 47px;
    align-items: center;
   
    
  }
  .cards3 {
    display: flex;
    flex-direction: row;
    column-gap: 47px;
    align-items: center;
   
    
  }
  .cards4 {
    display: flex;
    flex-direction: row;
    column-gap: 47px;
    align-items: center;
   
    
  }

  .cards5 {
    display: flex;
    flex-direction: row;
    column-gap: 47px;
    align-items: center;
   
    
  }

  .track:hover{
    transform:translateX(2px)
    translateY(-2px)
  }

  
  
  .image{
    height: 113px;
    width: 121px;
    border-radius: 10px;
    
  }
  
  .track {
    width: 121px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(56, 63, 122, 0.781) 59.37%, rgba(87, 95, 151, 0.582) 100%);
    backdrop-filter: blur(20px);
    height: 170px;
    border-radius: 10px;
    
    
  }

  .tname{
    font-family:sans-serif;
    font-style: normal;
    font-size: 12.4px;
    line-height: 14px;
    margin-top: 8px;
    color: #fffbfb;
    text-align: center;
    padding-bottom: 4px;
    text-decoration: none;
    font-weight:540;

  }

  .tartist{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9.4px;
    line-height: 10px;
    color: #ccccdf;
    text-align: center;
    text-decoration: none;
  }

  .slide1{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  .slide2{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  .slide3{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  .slide4{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  .slide5{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }





  
