.Container {
  position: absolute;
  
  overflow-x: scroll;
  overflow-y: scroll;
  right: 18.6%;
  left: 18.6%;
  top: 21.2%;
  bottom: 12.25%;
  
}

.Container::-webkit-scrollbar {
  display: none;
}

.Heading {
  font-size: 165%;
  color: white;
  position: absolute;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  left: 21.05%;
  top: 14.4%;
  cursor: default;
}
.pop {
  font-size: 121.5%;
  color: white;
  position: absolute;
  margin-top: 0%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  left: 4%;
  cursor: default;
}

.hh {
  font-size: 121.5%;
  color: white;
  position: absolute;
  margin-top: 232px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  left: 4%;
  cursor: default;
}

.rock {
  font-size: 121.5%;
  color: white;
  position: absolute;
  margin-top: 469px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  left: 4%;
  cursor: default;
}
.pr {
  font-size: 121.5%;
  color: white;
  position: absolute;
  margin-top: 700px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  left: 4%;
  cursor: default;
}

.ed {
  font-size: 121.5%;
  color: white;
  position: absolute;
  margin-top: 931px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  left: 4%;
  cursor: default;
} 

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-left: 4%;
  margin-top: 5%;
  
}

.cards1 {
  margin-top: -1%;
  display: flex;
  flex-direction: row;
  column-gap: 5.7%;
  align-items: center;
}

.cards2 {
  margin-top: 5.5%;
  display: flex;
  flex-direction: row;
  column-gap: 5.7%;
  align-items: center;
}
.cards3 {
  margin-top: 5.5%;
  display: flex;
  flex-direction: row;
  column-gap: 5.7%;
  align-items: center;
}
.cards4 {
  margin-top: 5.5%;
  display: flex;
  flex-direction: row;
  column-gap: 5.7%;
  align-items: center;
}

.cards5 {
  margin-top: 5.5%;
  display: flex;
  flex-direction: row;
  column-gap: 5.7%;
  align-items: center;
}

.track:hover {
  transform: translateX(2.2px) translateY(-2.2px);
}

.image {
  height: 113px;
  width: 121px;
  border-radius: 10px !important;
  margin-top: 0px;
  margin-top: 0px;
}

.track {
  width: 121px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(56, 63, 122, 0.781) 59.37%,
    rgba(87, 95, 151, 0.582) 100%
  );
  backdrop-filter: blur(20px);
  height: 170px;
  border-radius: 10px;
  /* align-items: center; */
  cursor: pointer;
}

.tname {
  font-family: sans-serif;
  font-style: normal;
  font-size: 12.4px;
  line-height: 14px;
  margin-top: 8px;
  color: #fffbfb;
  text-align: center;
  padding-bottom: 4px;
  text-decoration: none;
  font-weight: 540;
}

.tartist {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 9.4px;
  line-height: 10px;
  color: #ccccdf;
  text-align: center;
  text-decoration: none;
}

 .slide1{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  /*.slide2{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  .slide3{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  .slide4{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  }
  .slide5{
    color: white;
    top: 0px;
    font-size: 20px;
    margin-left: 96%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

  } */
