.login-web {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  top: 17%;
  left: 35%;
  right: 35%;
  
  bottom: 17%;
  background: linear-gradient(
    180deg,
    rgba(56, 63, 122, 0.705) 59.37%,
    rgba(87, 94, 151, 0.568) 100%
  );
  text-align: center;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: whitesmoke;
  margin-top: -2%;
  font-size: 250%;
  padding-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

.image1 {
  padding-top: 9.4%;
  padding-right: 0px;
  margin-bottom: 0px;
}

.button {
  margin-top: 18.5%;
  /* margin-left: 129.2px; */
  font-size: 12.8px;
  width: 38%;
  padding-top: 2.8%;
  padding-bottom: 2.8%;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

.tagline {
  padding-top: 1%;
  font-size: 120%;
  font-weight: bold;
  color: rgba(210, 205, 231, 0.836);
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

 /* @keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0092e6,
      0 0 40px #00b0e6, 0 0 50px #00a5e6, 0 0 60px #00b0e6, 0 0 70px #00b0e6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ffe44d, 0 0 60px #ff4da6, 0 0 70px #ffed4d, 0 0 80px #ff4da6;
  }
}  */
