.container-playbar {
  position: fixed;
  bottom: 0px;
  color: white;
  background: linear-gradient(
    90deg,
    #110849 -1.87%,
    rgba(123, 125, 184, 0.19) 100%
  );
  width: 100%;
  height: 12%;
}
  
   
  
  .playbar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
  }
  
  .song-description {
    display: flex;
    flex-direction: column;
  }
  
  .play-controls {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .duration {
    width: 410px;
    height: 7px;
    background-color: teal;
  }
