.container-playbar {
  position: fixed;
  bottom: 0%;
  color: white;
  background: linear-gradient(
    90deg,
    #110849 -1.87%,
    rgba(123, 125, 184, 0.19) 100%
  );
  width: 100%;
  height: 12%;
  margin-bottom:0%;
}

.playbar {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center;  */
  column-gap: 4%;
  position: fixed;
  
}

.song-description {
  display: flex;
  flex-direction: column;
  margin-left: 8.6%;
  position: fixed;
  margin-top: 2.8%;
  
  
}

.playbarimg {
  height: 47px;
  width: 47px;
  margin-left: 2.85%;
  border-radius: 3px;
 padding-right: 0%;
  position:fixed;
  margin-top: 0.2%;

  
}

.play-controls {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 34%;
  position: fixed;
  margin-top: 4.5%;
}

.duration {
 
  position:fixed;
  left: 52.5%;
  right: 17.9%;
  margin-top: 3.7%;
  
  height: 1.05%;

  background: linear-gradient(
    87.82deg,
    rgb(16, 143, 165) -15.28%,
    rgb(16, 143, 165) 35.95%,
    rgb(16, 143, 165) 129.41%
  );
  
  border-radius: 5px;
  backdrop-filter: blur(20px);
}

.song-name{
  font-size: 20px;
  margin-left: 0%;
  line-height: 5%;
  position: fixed;
}
.artist{
  font-size: 12.5px;
  color: #ccccdf;
  position: fixed;
  margin-top: 1.1%;
  
}

.repeat{
  position: fixed;
  margin-left: 90%;
  margin-top: 4.5%;
  
}
.heart{
  margin-left: 27%;
  margin-top: 4%;
  position: fixed;
}
