.right-pane {
    position: absolute;
    right: 0%;
    top: 0%;
  
    width: 18.42%;
    height: 88%;
    display: flex;
    flex-direction: column;

  }
  
  .user-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
  }
  
  .username {
    margin-top: -2.2%;
    width: 70%;
    height: 12%;
    color: white;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 12%;
  }
  
  .recently-played {
    background: linear-gradient(
    180deg,
    #110849 0%,
    rgba(123, 125, 184, 0.19) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-radius: 10px;
    
  }
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.right-pane {
  position: absolute;
  right: 0;
  top: 0;

  margin: 0;
  width: 18.42%;
  height: 88%;
  display: flex;
  flex-direction: column;
}

.user-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 19%;
  align-items: center;
  
}

.username {
  margin-top: 12%;
  font-weight: bold;
 
  color: white;
  font-size: 26px;
  font-family:"Quicksand";
  
  margin-left: 18%;
}

.recently-played {
  background: linear-gradient(
    180deg,
    #110849 0%,
    rgba(123, 125, 184, 0.19) 100%
  );
  backdrop-filter: blur(20px);
  height: 100%;
  border-radius: 3%;
  right: 0%;
  top: 0%;
  
   
}



.setting-button {
 
  font-size: 45px;
  margin-top: 14.5%;
  margin-right: 10%;
}

#about {
  text-decoration: none;
}

#heading_1 {
  color: white;
  font-family:sans-serif;
  font-style: normal;
  font-weight: bold;
  align-self: center;
  font-size: 26px;
  /* margin-left: 12.5%; */
  margin-top: 10%;
}

#settings-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
