@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.right-pane {
  position: absolute;
  right: 0;
  top: 0;

  margin: 0;
  width: 250px;
  height: 88%;
  display: flex;
  flex-direction: column;
}

.user-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.username {
  margin-top: 40px;
  width: 70%;
  height: 50px;
  color: white;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
}

.recently-played {
  background: linear-gradient(
    180deg,
    #110849 0%,
    rgba(123, 125, 184, 0.19) 100%
  );
  backdrop-filter: blur(20px);
  height: 100%;
}

.settingButton {
  width: 100%;
}
.setting-button {
  align-self: center;
  font-size: 50px;
  margin-top: auto;
}

#about {
  text-decoration: none;
}

#heading_1 {
  color: white;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  align-self: center;

  margin-left: 12.5%;
  margin-top: 20px;
}

#settings-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
