.search-wrapper {
  height: 300px;
  z-index: 10;
}

.searchbox-web {
  position: absolute;
  left: 32.5%;
  right: 32.5%;
  margin-top: 25px;
  top: 1.5%;
  height: 37px;

  background: linear-gradient(
    87.82deg,
    rgba(255, 255, 255, 0.61) -15.28%,
    rgba(255, 255, 255, 0.555) 35.95%,
    rgba(255, 255, 255, 0.39) 129.41%
  );
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.search-icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.search-window {
  display: flex;
  justify-content: space-between;
}
.search-area {
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: auto;
  height: 37px;
  width: 100%;
  background-color: rgba(192, 192, 192, 0.37);
  border: none;
  outline: none;
  padding-left: 20px;
}

.search-results {
  position: absolute;
  color:black;
  margin-top: 75px;
  margin-left: 448px;
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 470px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    #cfcfcfd8 0%,
    rgba(182, 181, 181, 0.719) 100%);
  z-index:50;
  backdrop-filter: blur(12px);

}

.each-search-result {
  padding-left: 20px;
  margin: 15px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-result-image {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.search-result-title {
  width: 100px;
  margin-left: 15px;
  
}

.search-result-artist {
  width: 270px;
  text-align: end;
}
