.searchbox-web {  
  position: absolute;
  left: 32.5%;
  right: 32.5%;
  margin-top: 25px;
  top: 1.5%;
  height: 35.5px;
  background: linear-gradient(87.82deg, rgba(255, 255, 255, 0.541) -15.28%, rgba(255, 255, 255, 0.562) 35.95%, rgba(255, 255, 255, 0.63) 129.41%);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.search-icon{
  margin-left:10px;
  margin-right: 10px;
 margin-top: auto;
 margin-bottom: auto;
}
.search-window{
 display: flex;
 justify-content: space-between;
}
.search-area{
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: auto;
  height:37.5px ;
  width:100%;
  background-color: rgba(216, 216, 216, 0.199);
  border: none;
}
.search-area:focus{
  border: none;
}
