.sidebar-web {
  position: absolute;
  left: 0%;
  top: 0%;
  margin: 0;
  width: 18.42%;
  height: 85%;
  background: linear-gradient(
    180deg,
    #110849 0%,
    rgba(123, 125, 184, 0.19) 100%);
  padding-bottom: 20px;
  display: inline-block;
  
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap%27');

.sidebar-web .branding {
  padding-top: 2.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
 
  
}


.sidebar-web ul {
  
  text-decoration: none;
  list-style-type: none;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  margin-top: 4.2%;
  margin-left: 3%;
  
}

.sidebar-web .sidebar-list-items {
  padding: 8.4%;
  margin: 4.8%;
  border: 1px solid transparent;
  border-radius: 10px;
}
.sidebar-web .sidebar-list-items:hover {
  border: 1px solid rgba(99, 139, 185, 0.199);
  
}
.sidebar-mobile {
  background-color: aquamarine;
}
.sidebar-web a {
  text-decoration: none;
  font-family:sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;

  color: #ffffff;
}
.brand-name {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight:bold;
  font-size: 206%;
  margin-top: -4.9%;
  color: #fffbfb;
  /* -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate; */
  cursor: default;
}
.im{
  margin-top: -5%;

}




  
  
  
  
  





