@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.sidebar-web {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 250px;
  height: 85%;
  background: linear-gradient(
    180deg,
    #110849 0%,
    rgba(123, 125, 184, 0.19) 100%
  );
  padding-bottom: 20px;
  display: inline-block;
}

.sidebar-web .branding {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
}

.sidebar-web ul {
  margin-top: 10%;
  text-decoration: none;
  list-style-type: none;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}

.sidebar-web .sidebar-list-items {
  padding: 20px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.sidebar-web .sidebar-list-items:hover {
  border: 1px solid rgba(99, 139, 185, 0.199);
}

.sidebar-mobile {
  background-color: aquamarine;
}
.sidebar-web a {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;

  color: #f7f7f7;
}
.brand-name {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 41px;
  margin-right: 20px;
  color: #fffbfb;
}
