* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  margin: 0;
  padding: 0;
  height: 100vh;
}

:root {
  background: url(./components/bg1.jpg);
  background-repeat: no-repeat;
  background-position:top;
  background-attachment: inherit;
  background-size:cover;
}
